body {
    font-family: sans-serif;
    background-color: #81d4fa;
    font-weight: bold;
}

.text-box {
    margin-left: 44vw;
   margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.shape {
    position: absolute;
    animation: move 15s linear infinite, rotate 15s linear infinite;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #eb1010;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    animation-name: moveCircle, rotateCircle;
}

.square {
    width: 80px;
    height: 80px;
    background-color: rgb(101, 5, 106);
    top: 30%;
    left: 60%;
    animation-name: moveSquare, rotateSquare;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(65, 115, 9);
    top: 70%;
    left: 20%;
    animation-name: moveTriangle, rotateTriangle;
}

.move {
    opacity: 0.1;
}
@keyframes moveCircle {
    0% {
        top: 10%;
        left: 10%;
    }
    25% {
        top: 10%;
        left: calc(100% - 110px);
    }
    50% {
        top: calc(100% - 110px);
        left: calc(100% - 110px);
    }
    75% {
        top: calc(100% - 110px);
        left: 10%;
    }
    100% {
        top: 10%;
        left: 10%;
    }
}

@keyframes moveSquare {
    0% {
        top: 30%;
        left: 60%;
    }
    25% {
        top: 70%;
        left: 60%;
    }
    50% {
        top: 70%;
        left: 20%;
    }
    75% {
        top: 30%;
        left: 20%;
    }
    100% {
        top: 30%;
        left: 60%;
    }
}

@keyframes moveTriangle {
    0% {
        top: 70%;
        left: 20%;
    }
    25% {
        top: 20%;
        left: 70%;
    }
    50% {
        top: 70%;
        left: calc(100% - 120px);
    }
    75% {
        top: calc(100% - 120px);
        left: 20%;
    }
    100% {
        top: 70%;
        left: 20%;
    }
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateSquare {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotateTriangle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

